@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');
:root{
    background-color: bisque;
}
.cabecalho{
    width: 100%;
}
.botao{
    color: #4d543d;
    font-size: 24px;
    text-decoration: nome;
}
.titulo{
    color: #4d543d;
    font-size: 32px;
    font-family:Emblema One;
    text-align: center;
    padding-top:3em ;
}
.h2{
    font-family: Emblema One;
    font-size: 28px;
    color: #4d543d;
}
.texto-inicial{
    font-size: 24px;
    color: #4d543d;
}
.texto-fonte{
    font-size: 18px;
    color: #4d543d;
}
.foto{
    width: 33%;
    border-radius: 10px;
    height: 500px;
}
.texto-descricao{
    font-size: 24px;
    display: inline-block;
}
.foto-explorar{
    text-align: left;
    width: 500px;
    height: 500px;
    display: inline-block;
}
.destino{
    display: flex;
    align-items: center;
}

.topicos{
    display: flex;
    position: absolute;
    padding: 1em;
    list-style-type: nome;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
}
.botao-link{
    text-decoration: nome;
    display: flex;
    color: #e8fbbb;
    font-size: 24px;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #4d543d;
}
