@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');
:root{
    background-color: cornflowerblue;
}
.cabecalho{
    background-color: #e8fbbb;
    width: 100%;
}
.botao{
    color: #4d543d;
    font-size: 24px;
}
.titulo{
    color: #4d543d;
    font-size: 32px;
    font-family:Emblema One;

}